@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
}

* {
  font-family: 'Inter';
  color: white;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  background: #18191d;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 24px;
}

.wrapper {
  margin: 50px 0;
  max-width: 1240px;
  width: 100%;
}

.sort {
  margin-top: 15px;
  display: flex;
}

.sort .item {
  height: 34px;
  font-size: 13px;
  color: #aaa;
  padding: 0 14px;
  transition: 0.1s all ease-in;
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.sort .item[data-selected='true'] {
  background: #2a2b31;
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  opacity: 0;
  transition: 0.3s opacity ease-in;
}

.cards .item {
  display: flex;
  flex-direction: column;
  width: 400px;
  cursor: pointer;
  background: #2a2b31;
  border-radius: 4px;
}

.cards .item:hover {
  opacity: 0.8;
}

.group {
  padding: 20px;
}

.subgroup {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.subgroup h2 {
  font-size: 18px;
}

.subgroup span {
  height: 28px;
  font-size: 13px;
  color: white;
  background: #4c4d55;
  padding: 0 14px;
  display: flex;
  align-items: center;
  border-radius: 14px;
}

.group p {
  font-size: 13px;
  color: #aaa;
}

.popupWrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.4s opacity ease-in;
  display: none;
  opacity: 0;
}

.popup {
  max-width: 900px;
  display: flex;
  background: #2a2b31;
  border-radius: 4px;
}

.desc {
  padding: 30px;
  font-size: 13px;
}

.desc h1 {
  font-size: 18px;
}

.desc p {
  margin-top: 10px;
  color: #aaa;
}

.logo {
  margin-bottom: 20px;
}

.mainDesc {
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 20px;
}
